@import "vars.css";

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}

button {
  @apply rounded border-none px-4 py-2 hover:opacity-80 active:opacity-50;
  background-color: var(--button-bg);
}
button.small {
  @apply px-3 py-1 text-sm;
}
button.secondary {
  background-color: var(--bg-tertiary);
}
button.warning {
  background-color: var(--warning);
}
button.danger {
  background-color: var(--error);
}
button.outline-only {
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  background-color: transparent;
}

input {
  @apply no-spinner h-12 rounded-md border p-2 ring-0;
  background-color: var(--bg-quaternary);
  border: transparent;
}
input::placeholder,
textarea::placeholder {
  color: var(--text-secondary);
  font-weight: 300;
  font-style: italic;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--bg-accent);
  border: 1px solid var(--border);
}

textarea {
  @apply rounded-md p-1 px-2;
  background-color: var(--bg-quaternary);
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--border);
  border-color: transparent;
}

.aside-menu-item-active {
  background-color: var(--button-bg-hover);
}

.cardbox {
  @apply rounded-3xl p-4;
  background-color: var(--bg-secondary);
}

.card-modal {
  @apply bg-gradient-to-tr from-gray-400/85 via-gray-600/85 to-gray-400/85 dark:from-gray-700/85 dark:via-gray-900/85 dark:to-gray-700/85;
}

.divider {
  @apply -mx-6 my-6 hidden border-t lg:block;
  border-color: var(--border);
}
