.navbar {
  @apply sticky top-0 z-10 flex items-center justify-between overflow-x-clip text-nowrap py-2;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 3rem;
}

.layout-root {
  @apply flex transition-all lg:w-auto;
  max-width: var(--main-max-width);
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  &.layout-fullscreen {
    max-width: 100vw;
  }
}

.layout-sidebar {
  @apply sticky top-0 h-screen border-r border-[color:--border-secondary] transition-all duration-300;

  header {
    border-bottom: 1px solid;
    // prettier-ignore
    border-image: linear-gradient(
      to right,
      var(--bg-primary),
      var(--border-secondary),
      var(--border-secondary)
    ) 1;
  }
}

.sidebar-item {
  @apply clickable flex gap-4 rounded-lg p-1 hover:bg-[color:--bg-secondary];
}

.sidebar-item-active {
  background-color: var(--bg-secondary);
}

.layout-content {
  @apply flex w-full flex-col px-4;
}

.layout-main {
  @apply flex h-full w-full flex-col justify-between overflow-auto;
}
