.req-res-text {
  @apply flex-1 overflow-x-auto rounded-md p-4 font-mono;
  background-color: var(--bg-quaternary);
}

.req-res {
  @apply mb-3 border-b pb-1 text-lg font-semibold;
  border-color: var(--border);
}

.dragging,
.dragging .poc-template {
  cursor: not-allowed !important;
}
.dragging .poc-template:has(.poc-image) .drop-image-over-hinter {
  @apply absolute left-0 top-0 flex h-full w-full animate-pulse bg-[color:--bg-secondary] opacity-30;
}
.drop-image-over-hinter {
  @apply hidden items-center justify-center rounded-3xl border-2 border-dashed;
  font-size: 1.75rem;
  color: var(--text-secondary);
}

.poc-img {
  @apply max-h-[550px] max-w-[1/2] rounded-lg;
}

.poc-template {
  @apply cardbox relative flex flex-col border p-6;
  border-color: var(--border);
  background-color: var(--bg-tertiary);
}
.poc-template.dragged-over:has(.poc-template-children-sibling ~ .poc-image) {
  background-color: var(--bg-quaternary);
}

.edit-poc-header {
  border: none;
  background-image: linear-gradient(to bottom, var(--bg-primary), rgba(var(--bg-secondary-rgb), 0.5));
}