.req-res-text {
  @apply flex-1 overflow-x-auto rounded-md p-4 font-mono;
  background-color: var(--bg-tertiary);
}

.req-res {
  @apply mb-3 border-b pb-1 text-lg font-semibold;
  border-color: var(--border);
}

.poc-img {
  @apply max-h-[550px] max-w-[1/2] rounded-lg;
}

.poc-template {
  background-color: var(--bg-tertiary);
}
.poc-template.dragged-over:has(.poc-template-children-sibling ~ .poc-image) {
  background-color: red;
}
