/* Table base styles */
table {
  background-color: var(---bg-tertiary);
}

/* Table head */
table thead {
  background-color: var(--bg-quaternary);
}

table th {
  @apply text-nowrap px-4 py-2 text-left font-semibold;
}

/* Table body */
table tbody tr:hover {
  @apply brightness-[1.115];
}

table tbody tr:nth-child(even) {
  background-color: var(--bg-quaternary);
}
table tbody tr:nth-child(odd) {
  background-color: var(--bg-quinary);
}

table td {
  @apply px-4 py-2;
}
