/* Table head */
table thead {
  background-color: rgba(var(--bg-quinary-rgb), 0.6);
}

table th {
  @apply text-nowrap border-none px-4 py-2 text-left;
}

table tbody {
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
}

/* Table body */
table tr {
  @apply border-b;
  border-color: var(--border-primary);

  &:last-child:not(:first-child) {
    border-bottom: none;
  }

  td[data-buttons-cell] {
    background-color: var(--bg-tertiary);
  }
}

table tbody tr:hover {
  backdrop-filter: brightness(0.9);

  td[data-buttons-cell] {
    filter: brightness(0.9);
  }
}

table td {
  @apply px-4 py-2;
  width: max-content;

  &:empty::after {
    content: "N/A";
    font-weight: 100;
    color: var(--border-primary-highlight);
  }
}

table td:has(div:has(.select-wrapper__control)) {
  min-width: max-content;
  will-change: contents;
}
