// Variables for Light and Dark Themes
@use "sass:color";

// Light Theme
:root {
  /* Palette */
  $bg-primary: #c7c7c7;
  $text-primary: #121212;
  $border: #e45353;
  $link: #c94c4c;
  $button-bg: color.adjust($bg-primary, $lightness: -10%);
  $clickable-hover-backdrop-brightness: 0.8;
  $clickable-active-backdrop-brightness: 0.5;

  /* Maps */
  $backgrounds: (
    "primary": $bg-primary,
    "secondary": color.adjust($bg-primary, $lightness: 5%),
    "tertiary": color.adjust($bg-primary, $lightness: 10%),
    "quaternary": color.adjust($bg-primary, $lightness: 15%),
    "quinary": color.adjust($bg-primary, $lightness: 18%),
    "active": color.adjust($bg-primary, $lightness: 12%),
  );

  /* Text */
  --text-primary: #{$text-primary};
  --text-secondary: #{color.adjust($text-primary, $lightness: 40%)};
  --text-disabled: #{color.adjust($text-primary, $lightness: -55%)};

  /* Borders and Dividers */
  --border-primary: #{color.adjust($border, $alpha: -0.8)};
  --border-primary-highlight: #{color.adjust($border, $alpha: -0.6)};
  --border-secondary: #{color.adjust($border, $alpha: -0.9)};
  --border-secondary-highlight: #{color.adjust($border, $alpha: -0.8)};

  /* Links */
  --link: #{$link};
  --link-hover: #{color.adjust($link, $lightness: -15%)};

  /* Buttons */
  $buttons: (
    "bg": $button-bg,
    "bg-secondary": color.adjust($bg-primary, $lightness: 10%),
  );

  /* Alerts */
  $error: #ff0000;
  --error: #{$error};
  --error-rgb: #{color.channel($error, "red")}, #{color.channel($error, "green")}, #{color.channel($error, "blue")};

  $warning: #fff702;
  --warning: #{$warning};
  --warning-rgb:
    #{color.channel($warning, "red")}, #{color.channel($warning, "green")}, #{color.channel($warning, "blue")};

  /* Clickable CSS class */
  --clickable-hover-backdrop-brightness: #{$clickable-hover-backdrop-brightness};
  --clickable-active-backdrop-brightness: #{$clickable-active-backdrop-brightness};

  /* Backgrounds: hex and RGB */
  @each $name, $color in $backgrounds {
    --bg-#{$name}: #{$color};
    --bg-#{$name}-rgb:
      #{color.channel($color, "red")}, #{color.channel($color, "green")}, #{color.channel($color, "blue")};
  }

  /* Buttons: hex and RGB */
  @each $name, $color in $buttons {
    --button-#{$name}: #{$color};
    --button-#{$name}-rgb:
      #{color.channel($color, "red")}, #{color.channel($color, "green")}, #{color.channel($color, "blue")};
  }
}

// Dark Theme
html.dark {
  /* Palette */
  $bg-primary: #161616;
  $text-primary: #e0e0e0;
  $border: #bdbdbd;
  $link: #ebbebe;
  $button-bg: color.adjust($bg-primary, $lightness: 40%);
  $clickable-hover-backdrop-brightness: 0.8;
  $clickable-active-backdrop-brightness: 0.5;

  /* Maps */
  $backgrounds: (
    "primary": $bg-primary,
    "secondary": color.adjust($bg-primary, $lightness: 5%),
    "tertiary": color.adjust($bg-primary, $lightness: 13%),
    "quaternary": color.adjust($bg-primary, $lightness: 25%),
    "quinary": color.adjust($bg-primary, $lightness: 35%),
    "active": color.adjust($bg-primary, $lightness: 40%),
  );

  /* Text */
  --text-primary: #{$text-primary};
  --text-secondary: #{color.adjust($text-primary, $lightness: -25%)};
  --text-disabled: #{color.adjust($text-primary, $lightness: -55%)};

  /* Borders and Dividers */
  --border-primary: #{color.adjust($border, $alpha: -0.8)};
  --border-primary-highlight: #{color.adjust($border, $alpha: -0.6)};
  --border-secondary: #{color.adjust($border, $alpha: -0.9)};
  --border-secondary-highlight: #{color.adjust($border, $alpha: -0.8)};

  /* Links */
  --link: #{$link};
  --link-hover: #{color.adjust($link, $lightness: -10%)};

  /* Buttons */
  $buttons: (
    "bg": $button-bg,
    "bg-secondary": color.adjust($bg-primary, $lightness: 10%),
  );

  /* Alerts */
  $error: #f44336;
  --error: #{$error};
  --error-rgb: #{color.channel($error, "red")}, #{color.channel($error, "green")}, #{color.channel($error, "blue")};

  $warning: #daa520;
  --warning: #{$warning};
  --warning-rgb:
    #{color.channel($warning, "red")}, #{color.channel($warning, "green")}, #{color.channel($warning, "blue")};

  /* Clickable CSS class */
  --clickable-hover-backdrop-brightness: #{$clickable-hover-backdrop-brightness};
  --clickable-active-backdrop-brightness: #{$clickable-active-backdrop-brightness};

  /* Backgrounds: hex and RGB */
  @each $name, $color in $backgrounds {
    --bg-#{$name}: #{$color};
    --bg-#{$name}-rgb:
      #{color.channel($color, "red")}, #{color.channel($color, "green")}, #{color.channel($color, "blue")};
  }

  /* Buttons: hex and RGB */
  @each $name, $color in $buttons {
    --button-#{$name}: #{$color};
    --button-#{$name}-rgb:
      #{color.channel($color, "red")}, #{color.channel($color, "green")}, #{color.channel($color, "blue")};
  }
}
