:root {
  /* Backgrounds */
  --bg-primary: #f5f5f5;
  --bg-secondary: #e0e0e0;
  --bg-tertiary: #cccccc;
  --bg-quaternary: #cacaca;
  --bg-active: #b0b0b0;

  /* Text */
  --text-primary: #121212;
  --text-secondary: #555555;
  --text-disabled: #a0a0a0;

  /* Borders and Dividers */
  --border: #e45353;

  /* Links and Interactive Elements */
  --link: #c94c4c;
  --link-hover: #a83232;
  --button-bg: #dcdcdc;
  --button-bg-secondary: #c0c0c0;

  --error: #f44336;
  --warning: #daa520;
}

html.dark {
  /* Backgrounds */
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #212121;
  --bg-quaternary: #303030;
  --bg-quinary: #3d3d3d;
  --bg-active: #303030;

  /* Text */
  --text-primary: #e0e0e0;
  --text-secondary: #a0a0a0;
  --text-disabled: #555555;

  /* Borders and Dividers */
  --border: #f3a5a5;

  /* Links and Interactive Elements */
  --link: #ebbebe;
  --link-hover: #e45353;
  --button-bg: #3d3d3d;
  --button-bg-secondary: #181b1f;
}
