// Variables for Light and Dark Themes
@use "sass:color";

// Light Theme
:root {
  /* Palette */
  $bg-primary: #c7c7c7;
  $text-primary: #121212;
  $border: #e45353;
  $link: #c94c4c;
  $button-bg: color.adjust($bg-primary, $lightness: -20%);

  /* Maps */
  $backgrounds: (
    "primary": $bg-primary,
    "secondary": color.adjust($bg-primary, $lightness: 5%),
    "tertiary": color.adjust($bg-primary, $lightness: 10%),
    "quaternary": color.adjust($bg-primary, $lightness: 15%),
    "quinary": color.adjust($bg-primary, $lightness: 18%),
    "active": color.adjust($bg-primary, $lightness: 12%),
  );

  /* Text */
  --text-primary: #{$text-primary};
  --text-secondary: #{color.adjust($text-primary, $lightness: 40%)};
  --text-disabled: #{color.adjust($text-primary, $lightness: -55%)};

  /* Borders and Dividers */
  --border: #{$border};
  --border-highlight: #{color.adjust($border, $lightness: -25%)};

  /* Links */
  --link: #{$link};
  --link-hover: #{color.adjust($link, $lightness: -15%)};

  /* Buttons */
  --button-bg: #{$button-bg};
  --button-bg-secondary: #{color.adjust($button-bg, $lightness: 10%)};

  /* Alerts */
  --error: #f44336;
  --warning: #daa520;

  /* Backgrounds: hex and RGB */
  @each $name, $color in $backgrounds {
    --bg-#{$name}: #{$color};
    --bg-#{$name}-rgb: #{color.channel($color, "red")}, #{color.channel($color, "green")},
      #{color.channel($color, "blue")};
  }
}

// Dark Theme
html.dark {
  /* Palette */
  $bg-primary: #121212;
  $text-primary: #e0e0e0;
  $border: #bdbdbd30;
  $link: #ebbebe;
  $button-bg: color.adjust($bg-primary, $lightness: 40%);

  /* Maps */
  $backgrounds: (
    "primary": $bg-primary,
    "secondary": color.adjust($bg-primary, $lightness: 5%),
    "tertiary": color.adjust($bg-primary, $lightness: 13%),
    "quaternary": color.adjust($bg-primary, $lightness: 25%),
    "quinary": color.adjust($bg-primary, $lightness: 35%),
    "active": color.adjust($bg-primary, $lightness: 40%),
  );

  /* Text */
  --text-primary: #{$text-primary};
  --text-secondary: #{color.adjust($text-primary, $lightness: -25%)};
  --text-disabled: #{color.adjust($text-primary, $lightness: -55%)};

  /* Borders and Dividers */
  --border: #{$border};
  --border-highlight: #{color.adjust($border, $alpha: 0.5)};

  /* Links */
  --link: #{$link};
  --link-hover: #{color.adjust($link, $lightness: -10%)};

  /* Buttons */
  --button-bg: #{$button-bg};
  --button-bg-secondary: #{color.adjust($bg-primary, $lightness: 10%)};

  /* Alerts */
  --error: #f44336;
  --warning: #daa520;

  /* Backgrounds: hex and RGB */
  @each $name, $color in $backgrounds {
    --bg-#{$name}: #{$color};
    --bg-#{$name}-rgb: #{color.channel($color, "red")}, #{color.channel($color, "green")},
      #{color.channel($color, "blue")};
  }
}
